//== flex gaps
$flex-container-gaps: (
  10: 0.625rem,
  15: 0.9375rem,
  20: 1.25rem,
  30: 1.875rem
);

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0;
  width: 100%;

  &.flex-column {
    flex-direction: column;
    flex-wrap: nowrap;
    // align-items: stretch; // use .align-i-stretch

    * {
      margin-bottom: 0;
    }

    &--h100 {
      height: 100%;
    }
  }

  &.flex-between {
    justify-content: space-between;
  }

  &.flex-around {
    justify-content: space-around;
  }

  &.flex-evenly {
    justify-content: space-evenly;
  }

  &.flex-stretch {
    align-items: stretch;

    >* {
      flex: 1;
    }
  }
}

@each $px, $rem in $flex-container-gaps {
  .flex-container {
    &.flex-gap-#{$px} {
      gap: #{$rem};
    }

    &.flex-row-gap-#{$px} {
      row-gap: #{$rem};
    }
  }
}

// flex box utilities
.d-flex {
  display: flex;
}

.justify-c-start {
  justify-content: flex-start;
}

.justify-c-end {
  justify-content: flex-end;
}

.justify-c-center {
  justify-content: center;
}

.justify-c-between {
  justify-content: space-between;
}

.justify-c-around {
  justify-content: space-around;
}

.align-i-start {
  align-items: flex-start;
}

.align-i-end {
  align-items: flex-end;
}

.align-i-center {
  align-items: center;
}

.align-i-baseline {
  align-items: baseline;
}

.align-i-stretch {
  align-items: stretch;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}