// visibility
.show-for-sr {
  background-color: #000 !important;
  color: #fff !important;
  display: block;
}

// overflow utility
.oflow-hidden {
  overflow-y: hidden;
}

.oflow-auto {
  overflow-y: auto;
}

// positioning utility
.position-rel {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

// TURN ON: to outline all to find overflow issues / horizontal scroll issues

// * {
//   outline: 1px solid red;
//   background-color: rgba(red, .05) !important;

//   &:before,
//   &::after {
//     outline: 1px solid red;
//     background-color: rgba(red, .05) !important;
//   }
// }