@font-face {
	font-family: "icomoon";
	src: url("../icons/icomoon.ttf?dlzl4g") format("truetype"), url("../icons/icomoon.woff?dlzl4g") format("woff"), url("../icons/icomoon.svg?dlzl4g#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

[class^="szicon-"],
[class*=" szicon-"] {
	font-family: 'icomoon' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.szicon-social-vimeo:before {
	content: "\e908";
}

.szicon-social-youtube:before {
	content: "\e909";
}

.szicon-social-whatsapp:before {
	content: "\e90a";
}

.szicon-social-tiktok:before {
	content: "\e900";
}

.szicon-keyboard-arrow-up:before {
	content: "\e902";
}

.szicon-keyboard-arrow-right:before {
	content: "\e903";
}

.szicon-keyboard-arrow-left:before {
	content: "\e904";
}

.szicon-keyboard-arrow-down:before {
	content: "\e905";
}

.szicon-info:before {
	content: "\e906";
}

.szicon-warning:before {
	content: "\e907";
}

.szicon-phone:before {
	content: "\e942";
}

.szicon-play-button:before {
	content: "\ea15";
}

.szicon-social-facebook:before {
	content: "\ea90";
}

.szicon-social-instagram:before {
	content: "\ea92";
}

.szicon-social-twitter:before {
	content: "\ea96";
}

.szicon-social-linkedin:before {
	content: "\e901";
}