// colours configuration using maps 
// default is ALWAYS needed - add more variants as required
$callout-colours: (
  default: (bg: #ffffff,
    fg: #333,
    border: #333,
  ),
  success: (bg: #B4FFD2,
    fg: #32735F,
    border: #32735F,
  ),
  error: (bg: #FEDADA,
    fg: #B71C1C,
    border: #B71C1C,
  ),
  warning: (bg: #FFF6B5,
    fg: #B71C1C,
    border: #FBC02D,
  )
);

// base styles
$callout-gap: 0.625rem;
$callout-padding-global-msg: 1.25rem;
$callout-border-radius: 0.375rem;
$callout-border-width: 2px;

// mixin for callout base style
@mixin callout-base() {
  display: flex;
  flex-direction: column;
  padding: $callout-padding-global-msg;
  border-radius: $callout-border-radius;
  gap: $callout-gap;
}

@mixin callout-message($variant) {
  $bg-color: map-get(map-get($callout-colours, $variant), bg);
  $text-color: map-get(map-get($callout-colours, $variant), fg);
  $border-color: map-get(map-get($callout-colours, $variant), border);

  background-color: $bg-color;
  color: $text-color;
  border: $callout-border-width solid rgba($border-color, 1);

  h2 {
    color: $text-color;
  }
}

// global callout styling
.callout-message {
  @include callout-base();

  // generate default
  @include callout-message(default);

  // generate classes for all variants (except primary)
  @each $variant, $color in $callout-colours {
    @if $variant !=default {
      &--#{$variant} {
        @include callout-message($variant);
      }
    }
  }

  h2 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}