$list-item-gap: 1.875rem;
$list-item-content-gap: 0.625rem;
$list-item-margin-start: 1.875rem;
$list-item-thumbnail-width: 270px;
$list-item-thumbnail-height: 200px;

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $list-item-gap;

  .img {
    display: block;
    width: $list-item-thumbnail-width;
    height: $list-item-thumbnail-height;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    transition: border .3s;
    border-radius: 10px;

    &:hover {
      border: 1px solid #000;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: $list-item-content-gap;
    flex: 1;

    * {
      margin-bottom: 0;
    }

    a {
      text-decoration: underline;
      font-size: inherit;
    }
  }


  @media screen and (width<=39.9375em) {
    flex-direction: column;

    .img {
      width: 100%;
    }
  }
}

.list-item+.list-item {
  border-top: 1px solid #ddd;
  padding-top: $list-item-margin-start;
  margin-block-start: $list-item-margin-start;
}



// OLD VERSION


$generic-content-gap: 0.625rem;
$generic-padding: 0;
$generic-margin-start: 1.875rem;

.generic-list-item {
  padding-top: $generic-padding;
  padding-bottom: $generic-padding;

  .img {
    display: block;
    min-height: 200px;
    height: 100%;
    max-height: 220px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    transition: border .3s;

    &:hover {
      border: 1px solid #000;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: $generic-content-gap;

    * {
      margin-bottom: 0;
    }

    a {
      text-decoration: underline;
      font-size: inherit;
    }
  }



}

.generic-list-item+.generic-list-item {
  margin-block-start: $generic-margin-start;
}