.wrapper-holding {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;

  .holding-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    padding: 2rem;
    border: 2px solid #000;
    background-color: #fff;
    box-shadow: rgba(#000, 0.25) 0px 6px 12px -2px, rgba(#000, 0.3) 0px 3px 7px -3px;
    margin: 0 1rem;

    img {
      max-width: 100px;
    }
  }
}