@use "sass:math";

$base-padding: 6rem;
$half-padding: math.div($base-padding , 2);

.wrapper-section {
  padding: 6rem 0;
}

@mixin wrapper-styles($color-name, $bg-color) {
  .wrapper-section--#{$color-name} {
    background-color: $bg-color;
    padding: $base-padding 0;

    // adjacent element of the same type
    &:has(+ .wrapper-section--#{$color-name}) {
      padding-bottom: $half-padding;
    }

    // the element is directly following another of the same type
    &+.wrapper-section--#{$color-name} {
      padding-top: $half-padding;
      padding-bottom: $half-padding;
    }

    // reset if the next element is different
    &:has(+:not(.wrapper-section--#{$color-name})),
    &:last-of-type {
      padding-bottom: $base-padding;
    }
  }
}

// Use the mixin for different colors
@include wrapper-styles('blue', #cff4f5);
@include wrapper-styles('white', #ffffff);
@include wrapper-styles('yellow', #fef8ca);
@include wrapper-styles('grey', #f8f8f8);