/* small only */
@media screen and (width<=39.9375em) {

	@for $i from 0 through 9 {

		.sm-t-#{$i} {
			margin-top: #{$i}rem;
		}

		.sm-b-#{$i} {
			margin-bottom: #{$i}rem;
		}

		.sm-l-#{$i} {
			margin-left: #{$i}rem;
		}

		.sm-r-#{$i} {
			margin-right: #{$i}rem;
		}

		.sp-t-#{$i} {
			padding-top: #{$i}rem;
		}

		.sp-b-#{$i} {
			padding-bottom: #{$i}rem;
		}

		.sp-l-#{$i} {
			padding-left: #{$i}rem;
		}

		.sp-r-#{$i} {
			padding-right: #{$i}rem;
		}
	}

	.wysiwyg {

		img.right,
		img.left {
			float: none;
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}

	.toggle-panel {
		display: none;
	}
}

/*iphone x etc*/
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {}