// margins and padding overrides utility

@for $i from 0 through 9 {

  .m-t-#{$i} {
    margin-top: #{$i}rem;
  }

  .m-b-#{$i} {
    margin-bottom: #{$i}rem;
  }

  .m-l-#{$i} {
    margin-left: #{$i}rem;
  }

  .m-r-#{$i} {
    margin-right: #{$i}rem;
  }

  .p-t-#{$i} {
    padding-top: #{$i}rem;
  }

  .p-b-#{$i} {
    padding-bottom: #{$i}rem;
  }

  .p-l-#{$i} {
    padding-left: #{$i}rem;
  }

  .p-r-#{$i} {
    padding-right: #{$i}rem;
  }
}