// ===================================================================================
// File: variables.scss
// Description: Defines global variables such as colours, fonts, and reusable values
// ===================================================================================


// ----------------------------------------------------------------------------
// Title: Fonts
// Description: global variables for fonts
// ----------------------------------------------------------------------------

@font-face {
  font-family: fallback-font; // fallback font (if needed for cumulative layout shift)
  src: local(Arial);
  ascent-override: 100%;
  descent-override: 0%;
  line-gap-override: normal;
  advance-override: 10;
  size-adjust: 100%;
}

$font-title: "Inter", fallback-font, sans-serif;
$font-main: "Inter", fallback-font, sans-serif;
$font-icon: "icomoon";

// ----------------------------------------------------------------------------
// Title: Base Vars
// Description: global variables
// ----------------------------------------------------------------------------

$base-body-bg: #fff9ec;
$base-grid-container-width: 75rem;
$base-grid-row-gap: 1.875rem; // 30px

// ----------------------------------------------------------------------------
// Title: Colours
// Description: global colour variables
// ----------------------------------------------------------------------------

// brand colours - add the brand colours below as SCSS vars or CSS vars
// insert here

// global text
$col-text-anchor: #333;
$col-text-main: #333;
$col-text-heading: #333;

// global focus outline
$col-focus-outline: #fd0;

// root vars
:root {
  // insert here
}